
body {
 max-width: 2500px;
 font-family: 'Arial', sans-serif;
 padding: 0;
 margin: 0 auto;
 background-color: #f6f6f6;
}

#contact {
 display: none;
}

.wrapper {
 padding: 72px 32px 5px;
}
header {
 width: 100%;
 background-color: #32363b;
 height: 50px;
 position: fixed;
 top: 0;
 left: 0;
 padding: 8px;
 z-index: 100;
}

.logo {
 padding-left: 20px;
 height: 50px;
}
.burger-checkbox {
 position: absolute;
 visibility: hidden;
}
.burger {
 z-index: 1;
 cursor: pointer;
 display: block;
 top: 20px;
 right: 20px;
 position: fixed;
 border: none;
 background: transparent;
 width: 40px;
 height: 26px;
}
.burger::before,
.burger::after {
 content: '';
 left: 0;
 position: absolute;
 display: block;
 width: 100%;
 height: 4px;
 border-radius: 10px;
 background: #009368;
}
.burger::before {
 top: 0;
 box-shadow: 0 11px 0 #009368;
 transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
 bottom: 0;
 transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
 top: 11px;
 transform: rotate(45deg);
 box-shadow: 0 6px 0 rgba(0,0,0,0);
 transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
 bottom: 11px;
 transform: rotate(-45deg);
 transition: bottom .3s, transform .3s .15s;
}
.menu-list {
 top: 0;
 right: 0;
 position: absolute;
 display: grid;
 gap: 12px;
 padding: 42px 0;
 margin: 0;
 background-color: #32363b;
 list-style-type: none;
 transform: translateY(-200%);
 transition: .3s;
 width: 100%;
}
.menu-item {
 display: block;
 padding: 8px;
 color: #0b8b70;
 font-size: 25px;
 text-align: center;
 text-decoration: none;
}

.burger-checkbox:checked ~ .menu-list {
 transform: translateX(0);
}
.section-wrapper {
 padding: 35px;
 gap: 16px;
 display: flex;
 flex-direction: column;
 /*align-items: center;*/
}
.img-wrapper {
 display: flex;
 max-width: 1200px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
 border-radius: 12px;
 overflow: hidden;
}

img {
 max-width: 100%;
 height: auto;
}
.tablet-desktop-title {
 display: none;
 max-width: 600px;
}
.title {
 font-size: 36px;
 text-align: center;
 margin-bottom: 40px;
 color: #333;
}
@media (min-width: 600px) {
  .subtitle {
  font-size: 28px;
 }
 .section-wrapper {
  padding-top: 75px;
  justify-content: space-between;
  flex-direction: row;
 }
 .img-wrapper {
  max-width: 50%;
 }
 .about {
  align-items: start;
  text-align: left;
 }
 .mobile-title {
  display: none;
 }
 .tablet-desktop-title {
  display: block;
 }
}
@media (min-width: 1024px) {
 .img-wrapper:hover {
  transform: scale(1.05);
   /*box-shadow: 0 0 8px rgb(11, 139, 112);*/
 }
 .feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
 }
 .title {
  font-size: 48px;
  text-align: left;
  margin-bottom: 40px;
  color: #333;
  margin-top: 0px;
 }
 .title-centre {
  text-align: center;
 }
 .contact-container {
  padding: 20px;
 }
 .container {
  max-width: 500px;
  margin: 0 auto;
 }
}
.features-section {
 justify-content: center;
 padding: 60px 20px; /* Внешние отступы */
 margin-top: 50px;
}
.container {
 max-width: 500px;
 /*margin: 0 auto;*/
}
.footer-container {
 max-width: 500px;
 margin: 0 auto;
}
.contact-container {
 width: 100%;
 max-width: 500px;
 box-sizing: border-box;
 margin: 0 auto;
}
.container-features {
 max-width: 1200px;

}
/* Сетка для фич */
.features-grid {
 justify-content: center;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
}
/* Карточка для каждой фичи */
.feature {
 border: 1px solid #e0e0e0;
 border-radius: 8px;
 padding: 20px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 width: 300px;
}
/* Заголовок и текст */
.feature h3 {
 font-size: 24px;
 /*color: #007BFF; !* Цвет акцента *!*/
 color: #0b8b70; /* Цвет акцента */
 margin-bottom: 10px;
 text-align: center;
}
.feature p {
 font-size: 16px;
 color: #555;
 line-height: 1.6;
 color: #020101; /* Цвет акцента */
}
.contact-section {
 /*background-color: #f4f7fc; !* Светлый фон *!*/
 padding: 60px 20px;
 font-family: 'Arial', sans-serif;
}
#contact-container {
 max-width: 800px;
 margin: 0 auto;
 padding: 20px;
 background-color: #fff;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
 text-align: center;
}

.section-title {
 font-size: 36px;
 text-align: center;
 color: #333;
 margin-bottom: 20px;
}

#response-message {
 text-align: center;
 font-size: 16px;
 align-items: center;
 justify-content: center;
 color: #0b8b70; /* Зеленый для успешной отправки */
 background-color: #32363b;
 box-shadow: 0 0 15px rgb(11, 139, 112);
 border-radius: 6px;
 padding: 8px;
 display: none;
 width: 100%;
 height: 45px;
 box-sizing: border-box;
}

form {
 position: relative;
}

form label {
 font-size: 16px;
 font-weight: bold;
 margin-bottom: 5px;
 display: block;
 color: #333;
}

input,
textarea {
 width: 100%;
 box-sizing: border-box;
 padding: 10px;
 margin-bottom: 15px;
 border: 1px solid #ccc;
 border-radius: 6px;
 font-size: 16px;
 transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input:focus {
 border-color: #0b8b70;
 outline: none;
 box-shadow: 0 0 8px rgb(11, 139, 112);
}

/* Стиль для textarea */
form textarea {
 height: 150px;
 resize: vertical;
 outline: none;
}

form textarea:focus {
 border-color: #0b8b70;
 box-shadow: 0 0 8px rgb(11, 139, 112);
}

/* Стиль для кнопки отправки */
form button {
 background-color: #77777a;
 color: white;
 padding: 12px 20px;
 font-size: 18px;
 border: none;
 border-radius: 6px;
 cursor: pointer;
 width: 100%;
 transition: background-color 0.3s ease;
}

form button:hover {
 background-color: #0b8b70;
}
.required-dot {
 color: red;
 font-size: 0.9em; /* Размер точки можно подстроить */
 margin-left: 5px; /* Отступ для расстояния от текста */
 vertical-align: middle; /* Выровнять по тексту */
}
/* Footer */
footer {
 background-color: #32363b;
 color: #0b8b70;
 text-align: center;
 padding: 2px 0;
}
